<div class="card">
  <div class="card-body">
    <h5 class="card-title">🚀 <%= @target.prey.gsub('-', ' ').titleize %></h5>
    <hr>
    <% @target.tweets.each do |target| %>
      <div class="card my-3">
        <div class="card-body">
         <h4>🤬 " <span class="text-danger"><%= link_to target.insults.first.text, target.insults.first %></span> "</h4><br />
          🐥 <%= link_to target.message, target %><br />
          <small class="text-muted"><%= target.date.strftime("%b %d, %Y") %></small>
        </div>
      </div>
    <% end %>
    <hr>
    <a href="<%= targets_path %>" class="btn btn-warning">View All 🚀 </a>
  </div>
</div>